body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 50px;
    background-image: url("./cine.jpg");
    background-size: auto;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #333;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: arial;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #a12b1e;
    text-shadow: 0 4px 6px #3f3f3f6a;
}

form {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px #0000008e;
    margin-bottom: 20px;
    align-items: center;
}

form div {
    margin-bottom: 15px;
    display: block;
    text-align: center;
}

form label {
    font-weight: bold;
    width: 100px;
    display: inline-block;
}

form input {
    width: 56%;
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: #0000001d;
    color: #454545;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

input:focus {
    border: 1px solid #33333354;
    outline: none;
}

form button {
    padding: 10px 15px;
    width: 50%;
    font-size: 14px;
    font-weight: bold;
    color: #0000008e;
    background-color: #da4e4ea2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

form button:hover {
    background-color: #da4e4ec4;
    color: #333
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
    width: 80%;
    max-width: 600px;
    padding: none;
    list-style-type: none;
    overflow-y: auto;
}

ul li {
    background: #da4e4e45;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

li button {
    font-size: 12px;
    color: #0000008e;
    background-color: #da4e4ea2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
}

li .button-container {
    display: flex; 
    gap: 5px; 
}

li button:hover {
    background-color: #da4e4ec4;
    color: #333
}